.image-container {
    background-image: url('https://img.freepik.com/premium-vector/illustration-vector-graphic-cartoon-character-share-donations_516790-368.jpg');
    background-size: cover;
    background-blend-mode: lighten;
  }
